* {
    box-sizing: border-box;
}

:root {
    --photo-height: 100px;
}

html, body {
    overflow: visible !important;
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #eee;
}
.panel {
    width: 96%;
    margin: auto;
}

iframe {
    width: 100%;
}

.movie_title{
    margin: 2rem 0 1rem 0;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
}
.subtitle{
    font-size: x-large;
    font-weight: 600;
}

@media only screen and (min-width: 1000px) {
    .panel{
        width: 70%;
        margin: auto;

    }
    iframe {
        width: 560px;
        margin: auto;
    }
    .iframe__container{
        text-align: center;
    }
}